header {
    margin: auto;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('paper-g93c8f4c33_1920.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y: hidden;
    overflow-x: hidden;

    font-size: x-large;
}




img {
    padding: 10%;
    max-width: 100%;
    height: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

table, th, td {
    border-collapse: collapse;
}

tbody {
    margin-top: auto;
}
